<div class="banner">
    <div class="subtitle">Tufts University</div>
    <div class="title"> D.O.C.C. <span class="thin">Lab<span></div>
    <div class="description">
            D.O.C.C. Lab is a research group at Tufts University that focuses on the diagnosis, observability, and configuration of cloud systems.
            Our varied research explores: Automated debugging tools, Engineer-assisting tools and visualizations, User-friendly problem-solving tools, Addressing security and privacy issues in diagnosing complex system problems, Investigating usability aspects of diagnosis tools, and Developing principled distributed systems for enhanced debugging.
    </div>
    <button type="button" class="btn btn-primary rounded-pill" style="margin-top: 4rem;"><span style="font-size: 1.2rem; padding-right: 4px;">🤝</span> Reach out to us</button>
</div>