<div id="banner" class="banner">
    <div class="navigator">
        
    </div>
    <h4 class="subtitle">Tufts University</h4>
    <h2 class="title"> D.O.C.C. <span class="thin">Lab<span></h2>
    <div class="description">
            D.O.C.C. Lab is a research group at Tufts University that focuses on the diagnosis, observability, and configuration of cloud systems.
            Our varied research explores: Automated debugging tools, Engineer-assisting tools and visualizations, User-friendly problem-solving tools, Addressing security and privacy issues in diagnosing complex system problems, Investigating usability aspects of diagnosis tools, and Developing principled distributed systems for enhanced debugging.
    </div>
    <!-- <button type="button" class="btn btn-primary purple-gradient rounded-pill" style="margin-top: 4rem;">JOIN US</button> -->
    <button class="join-us-btn" style="margin-top: 4rem;">
        <div class="wrapper">
            <span>JOIN US</span>
            <div class="circle circle-12"></div>
            <div class="circle circle-11"></div>
            <div class="circle circle-10"></div>
            <div class="circle circle-9"></div>
            <div class="circle circle-8"></div>
            <div class="circle circle-7"></div>
            <div class="circle circle-6"></div>
            <div class="circle circle-5"></div>
            <div class="circle circle-4"></div>
            <div class="circle circle-3"></div>
            <div class="circle circle-2"></div>
            <div class="circle circle-1"></div>
        </div>
    </button>
</div>