<div class="hero">
    <div class="wrapper">
        <div class="container">
            <div class="title">
                Diagnosis 🩺  <br/>
                Observability 🔬<br/>
                Configuration 🔧 of Clouds
            </div>

            <div class="description">
                <p>
                    D.O.C.C. Lab is a research group at <a href="https://engineering.tufts.edu/cs">Tufts University</a> that focuses on the diagnosis, observability, and configuration of cloud systems.
                </p>
                <p>
                    Our varied research explores: Automated debugging tools, Engineer-assisting tools and visualizations, User-friendly problem-solving tools
    , Addressing security and privacy issues in diagnosing complex system problems, Investigating usability aspects of diagnosis tools
    , and Developing principled distributed systems for enhanced debugging.
                </p> 
            </div>

            <div>
                <button type="button" class="btn btn-primary rounded-pill">Contact Us</button>
                <button type="button" class="btn btn-outline-primary rounded-pill">Learn More</button>
            </div>
        </div>
    </div>
</div>