
          <div class="projects">
            <!-- for project in projects -->
            {% for project in site.projects %}
            {% if project.selected %}
            <div class="project">
              
              <div class="project-info {% if project.img %} col-sm-7 {% else %} col-sm-12 {% endif %}">
                <h3 class="project-title">{{ project.title }}</h3>
                <p class="project-description">{{ project.description }}</p>
                <a href="{{ project.url | relative_url }}" class="btn btn-outline rounded-pill">View Project</a>
              </div>

              {% if project.img %}
                <div class="project-image col-sm-5">
                  <img src="{{ project.img }}" alt="{{ project.title }}">
                </div>
              {% endif %}

            </div>
            {% endif %}
            {% endfor %}
          </div>
