<div>
  <h2 class="sponsor-title">Thank You!</h2>
  <p class="sponsor-description">We are graciously sponsored by</p>
  <div class="sponsor-logos row">
    <div class="col-md-4">
      <div class="sponsor-logo-bg rounded" >
        <img src="assets/img/sponsors/nsf-logo.svg" alt="National Science Foundation">
      </div>
    </div>
    <div class="col-md-4">
      <div class="sponsor-logo-bg rounded" >
        <img src="assets/img/sponsors/red-hat-logo.svg" alt="Red Hat">
      </div>
    </div>
    <div class="col-md-4">
      <div class="sponsor-logo-bg rounded" >
        <img src="assets/img/sponsors/tufts-logo.svg" alt="Tufts University">
      </div>
    </div>
  </div>
</div>
