/*****************************************************************************
* Home
*****************************************************************************/

// Banner

.banner {
  background-image: url("/assets/img/background.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .title {
    color: $heading-color;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 500;
    margin-top: -120px;

  }

  .thin {
    color: $heading-color;
    font-weight: 80;
  }

  .subtitle {
    color: $heading-color;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
  }
}


// Hero Section

.hero {
  background-image: url("/assets/img/clouds.jpg");
  background-repeat: no-repeat;
  background-position-y: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .wrapper {
    display: flex;
    flex-direction: column;
    padding: 4rem 0 4rem 0;
    backdrop-filter: blur(8px) hue-rotate(45deg) brightness(80%);
    width: 100%;
  }

  .title {
    color: $white-color;
    font-size: 2rem;
    font-weight: 300;
    text-align: start;
    margin-bottom: 1rem;
  }

  .description {
    text-align: start;

    p {
      color: $white-color;
      font-size: 1rem;
      font-weight: 300;
    }
  }
}

// News Section

.news-item {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin-bottom: 2rem;

  .news-date {
    color: $heading-color;
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    align-self: start;
    background-color: $grey-color-light;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 8px;
    width: 100%;
  }

  .news-content {
    color: $heading-color;
    font-size: 1.2rem;
    font-weight: 300;
    text-align: start;
    margin-left: 20px;
    .news-description {
      color: $grey-color;
      font-size: 1rem;
      font-weight: 300;
      text-align: start;
      padding-top: 8px;
    }
  }
  
}
