<!DOCTYPE html>
<html lang="{{ site.lang }}">

  <!-- Head -->
  <head>
  {%- if page.redirect -%}
    <meta http-equiv="refresh" content="3; url={{ site.baseurl }}/" />
  {%- endif -%}
  {% include head.html %}
  </head>

  <!-- Body -->
  <body style="padding-top: 0 !important;">

    <!-- Header -->
    {%- include header.html %}
    {%- include banner.html %}

    <!-- Hero Section -->
    <!-- {%- include hero.html %} -->

    <!-- Content -->
    <div class="container mt-5">
      {{ content }}

      <!-- News -->
      {% if page.news and site.announcements.enabled -%}
        <h2 class="section-title"><a href="{{ '/news/' | relative_url }}" style="color: inherit;">news</a></h2>
        {%- include news.html limit=true %}
      {%- endif %}

      <!-- Latest posts -->
      {% if page.latest_posts -%}
        <h2 class="section-title"><a href="{{ '/blog/' | relative_url }}" style="color: inherit;">latest posts</a></h2>
        {%- include latest_posts.html %}
      {%- endif %}

      <!-- Projects -->
      {% if page.projects -%}
        <h2 class="section-title"><a href="{{ '/projects/' | relative_url }}" style="color: inherit;">projects</a></h2>
        {%- include selected_projects.html %}
      {%- endif %}

      <!-- Selected papers -->
      {%- comment -%} {% if page.selected_papers -%}
        <h2 class="section-title"><a href="{{ '/publications/' | relative_url }}" style="color: inherit;">selected publications</a></h2>
        {%- include selected_papers.html %}
      {%- endif %} {%- endcomment -%}

      <!-- Sponsor -->
      {%- include sponsor.html %}
    </div>

    <!-- Footer -->
    {%- include footer.html %}

    <!-- JavaScripts -->
    {% include scripts/jquery.html %}
    {% include scripts/bootstrap.html %}
    {% include scripts/masonry.html %}
    {% include scripts/mermaid.html %}
    {% include scripts/misc.html %}
    {% include scripts/badges.html %}
    {% include scripts/mathjax.html %}
    {% include scripts/analytics.html %}
    {% include scripts/progressBar.html %}
    {% include scripts/wechatModal.html %}
  </body>
</html>
